<div>
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="300">
            <g ng-repeat="bar in $ctrl.specs.bars">
                <text x="0" ng-attr-y="{{((1 * $ctrl.specs.padding + $ctrl.specs.height) * $index) + ($ctrl.specs.height/2) + ($ctrl.specs.fontHeight/2)}}" text-anchor="start" style="font-family:arial; font-size:10pt">{{bar.text}}</text>
                <rect ng-attr-x="{{$ctrl.specs.labelWidth}}" ng-attr-y="{{(1 * $ctrl.specs.padding + $ctrl.specs.height) * $index}}" ng-attr-fill="{{bar.color}}" ng-attr-width="{{bar.width}}" ng-attr-height="{{$ctrl.specs.height}}"></rect>
            </g>
            <line ng-attr-x1="{{$ctrl.specs.labelWidth}}" y1="0" ng-attr-x2="{{$ctrl.specs.labelWidth}}" ng-attr-y2="{{$ctrl.specs.overallHeight}}" style="stroke:black; stroke-width:1px;"></line>
            <line ng-attr-x1="{{$ctrl.specs.labelWidth}}" ng-attr-y1="{{$ctrl.specs.overallHeight}}" ng-attr-x2="{{$ctrl.specs.overallWidth + $ctrl.specs.labelWidth + $ctrl.specs.widthDifference}}" ng-attr-y2="{{$ctrl.specs.overallHeight}}" style="stroke:black; stroke-width:1px;"></line>
            <text ng-repeat="gradient in $ctrl.specs.gradients"
                  ng-attr-x="{{$ctrl.specs.labelWidth + gradient.offset}}"
                  ng-attr-y="{{((1 * $ctrl.specs.height + $ctrl.specs.padding) * $ctrl.specs.bars.length) + $ctrl.specs.fontHeight + 3}}" text-anchor="middle" style="font-family: arial; fontsize:10pt">{{gradient.text}}</text>
        </svg>
    </span>
</div>

<div>
    Height: <input type="number" ng-model="$ctrl.specs.height">
    Color Override: <select ng-change="$ctrl.colorOverride()" ng-model="$ctrl.colorMaster">
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
        <option value="yellow">yellow</option>
    </select>
</div>
